/* Variables */

//Color pattern 1 - default
$color3: #d76b34; // recipe detail text color
$color4: #ca4d4a; // button, bookmark heart, recipe button hover color
$color6: #97342b; // recipe panel text color
$color8: #04080c; // bookmark text color
$color12: #e7d362; // primary text color
$color14: #497e9a; // accent color, button hover color
$color15: #f1f4f1; // recipe button hover text color
$base: rgba(12, 39, 53, 0.958); // base color

@mixin flex {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

@mixin animationFadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0 0 1em #d75b54e4;
  }
  2% {
    opacity: 0.1;
    text-shadow: 0 0 1em #d75b54e4;
  }
  4% {
    opacity: 1;
    text-shadow: 0 0 1em #d75b54e4;
  }
  19% {
    opacity: 1;
    text-shadow: 0 0 1em #d75b54e4;
  }
  21% {
    opacity: 0.1;
    text-shadow: 0 0 1em #d75b54e4;
  }
  23% {
    opacity: 1;
    text-shadow: 0 0 1em #d75b54e4;
  }

  80% {
    opacity: 1;
    text-shadow: 0 0 1em #d75b54e4;
  }
  83% {
    opacity: 0.4;
    text-shadow: 0 0 1em #d75b54e4;
  }
  87% {
    opacity: 1;
    text-shadow: 0 0 1em #d75b54e4;
  }
}

@mixin centering {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Global styling */
h1 {
  font-size: 3em;
  font-family: "Merriweather", serif;
  font-weight: bold;
}
h2 {
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}
button {
  border: none;
}
p {
  font-size: 1.5em;
}
.fa-heart {
  color: $color4;
  z-index: 100;
  &:hover {
    color: $color14;
  }
}
a {
  text-decoration: none;
}
.alert {
  display: none;
  position: absolute;
  @include centering;
  top: 75%;
  text-align: center;
  font-size: 1em;
  background-color: $color4;
  color: $color12;
  border-radius: 10vw;
  width: 80%;
}

/* Main Styling */
body {
  font-family: "PT Serif", serif;
  //loader
  .loader {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    background-color: linear-gradient();
    width: 100%;
    height: 100vh;
    z-index: 300;
    .spinner {
      position: absolute;
      @include centering;
      top: 40%;
      left: 47%;
      background-color: transparent;
      border: 0.3em solid transparent;
      border-top: 0.3em dotted $color4;
      border-right: 0.3em dotted $color4;
      border-bottom: 0.3em dotted $color4;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      animation: spin 2.5s linear infinite;
    }
    span {
      position: absolute;
      color: $color15;
      @include centering;
      top: 64%;
      left: 51%;
      font-size: 2em;
      letter-spacing: 0.1em;
      text-align: center;
      text-transform: uppercase;
    }
  }
  /* header */
  .header {
    text-align: center;
    background-image: url(../img/bg_top.jpg);
    height: 100vh;
    overflow: hidden;
    h1 {
      text-transform: uppercase;
      color: $color12;
      text-shadow: 0 0 0.3em $color15;
      margin-left: auto;
      width: 50%;
      z-index: 200;
      top: 16%;
      position: relative;
      font-size: 5em;
    }
    .navBar {
      @include flex;
      z-index: 300;
      position: absolute;
      top: 5%;
      right: 0;
      width: 25%;
      //bookmark link
      .bookmarkLink {
        animation: flicker 2s linear infinite;
      }
      //theme color change
      .colorChange {
        width: 25%;
        margin-left: 2em;
        .colorCheckbox {
          display: none;
        }
        .colorCheckboxLabel {
          border-radius: 50vw;
          background-color: $color15;
          width: 100%;
          height: 100%;
          height: 75%;
          display: block;
          margin-top: 0.3em;
          .ball {
            position: relative;
            top: 12%;
            left: 7%;
            width: 45%;
            height: 80%;
            background-color: $base;
            border-radius: 50%;
            border: 0.2em solid $color12;
            cursor: pointer;
            transition: transform 0.3s linear; //move the ball from left to right
            &:hover {
              transform: scale(1.5);
            }
          }
        }
      }
    }
    //recipe search form
    .searchForm {
      background-color: $base;
      margin: auto;
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0%;
      left: 50%;
      z-index: 100;
      .keywordSearch {
        position: relative;
        height: 100%;
        label {
          position: absolute;
          left: 0;
          top: 50%;
          padding: 1em;
          display: block;
          text-align: left;
          width: 80%;
          margin: auto;
          color: $color12;
          font-size: 2em;
        }
        .keyword {
          border-radius: 50vw;
          border: none;
         // border-bottom: $color4 0.2em solid;
          padding: 1em;
          @include centering;
          top: 70%;
          position: absolute;
          width: 80%;
         // box-shadow: 0 0.3em 0.5em $color15;
          font-size: 1.3em;
        }
        .search {
          @include centering;
          position: absolute;
          top: 70%;
          left: 83%;
          text-transform: none;
          border-style: none;
          background-color: transparent;
          .fa-search {
            color: $color12;
            border-bottom: $color8 0.2em solid;
            padding-bottom: 0.2em;
            font-size: 1.5em;
          }
        }
      }
    }
  }

  //main
  .main {
    //result
    .result {
      display: none;
      position: relative;
      min-height: 100vh;
      background-image: url(../img/bg_result.jpg);
      background-size: cover;
      h2 {
        position: absolute;
        top: 1%;
        left: -6%;
        color: $color12;
        background-color: $base;
        width: 70%;
        padding: 0.5em;
        font-size: 2.5em;
      }
      .resultPanel {
        background-color: #f1f1f490;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 4em;
        height: 75%;
        padding: 0.5em;
        padding-top: 13%;
        padding-left: 5%;
        padding-right: 5%;
        .itemPanel {
          min-height: 50vh;
          box-shadow: 0 0.2em 1em $color8;
          @include animationFadeIn;
          img {
            height: 35vh;
            width: 100%;
            object-fit: cover;
          }
        }
        p {
          margin-bottom: 0;
          margin: auto;
          padding: 1em;
          color: $color6;
          font-size: 1.5em;
          font-weight: bold;
          width: 90%;
        }
        .view {
          display: block;
          width: 50%;
          margin: auto;
          margin-bottom: 1.2em;
          background-color: $color12;
          text-decoration: none;
          color: $base;
          font-size: 1.2em;
          box-shadow: 0 0.2em 0.5em $color8;
          &:hover {
            background-color: $color4;
            color: $color15;
          }
          &:active {
            box-shadow: none;
          }
        }
      }
      .showMoreContainer {
        position: relative;
        height: 100%;
        padding: 1em 0;
        .alert {
          top: 20%;
        }
        .showMore {
          margin: 1em auto;
          display: block;
          padding: 0.5em 2em;
          font-size: 1.3em;
          color: $color12;
          background-color: $base;
          box-shadow:  0 0.5em 1em $color8;
          &:active {
            box-shadow: none;
          }
        }
      }
    }

    //recipe
    .recipe {
      display: none;
      min-height: 100vh;
      position: relative;
      background-image: url(../img/bg_recipe.jpg);
      color: $color8;
      .recipePanel {
        @include animationFadeIn;
        @include flex;
        height: 100%;
        width: 100%;
        img {
          margin: auto 3em;
          margin-top: 3em;
          display: block;
          width: 35%;
          height: 70%;
          box-shadow: 1em 1em 0.5em $color8;
        }

        .detailInfo {
          margin-left: auto;
          width: 60%;
          height: 100%;
          .title {
            position: relative;
            width: 130%;
            left: -30%;
            margin-top: 1em;
            background-color: $base;
            padding: 0.5em;
            text-align: left;
            font-size: 2.5em;
            color: $color12;
          }

          .dishInfo {
            @include flex;
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 1.3em;
            li {
              margin: 0.5em 1em;
              color: $color3;
              font-weight: bold;
              i {
                padding-right: 0.5em;
                color: $color14;
              }
            }
            .likeBtn {
              padding: 0, 0.5em;
              background-color: transparent;
              color: $color3;
              font-weight: bold;
              &:hover {
                animation: scaleup 0.5s;
              }
              @keyframes scaleup {
                from {
                  transform: scale(1);
                }
                to {
                  transform: scale(2);
                }
              }
              i {
                padding-right: 0.5em;
              }
            }
          }
          .recipeInfo {
            width: 100%;
            text-align: left;
            padding-right: 2em;
            p {
              font-weight: bold;
              margin: 0;
              .fa-pepper-hot {
                padding-right: 0.5em;
                color: $color14;
              }
            }
            ul {
              padding-bottom: 1em;
              margin: 0;
            }
          }
          a {
            display: block;
            width: fit-content;
            text-decoration: none;
            background-color: $base;
            box-shadow:  0 0.5em 1em $color8;
            padding: 0.5em 2em;
            font-size: 1.3em;
            margin-top: 1em;
            margin-bottom: 1.8em;
            color: $color12;
            &:active {
              box-shadow: none;
            }
          }
        }
      }
      .timerBtn {
        position: absolute;
        bottom: 2%;
        left: 13%;
        margin: 1em auto;
        display: block;
        padding: 0.5em 2em;
        font-size: 1.3em;
        color: $color12;
        background-color: $base;
        box-shadow:  0 0.5em 1em $color8;
        &:active {
          box-shadow: none;
        }
      }
    }

    //bookmark list
    .bookmark {
      position: relative;
      min-height: 100vh;
      color: $color8; // change to variable
      background-image: url(../img/bg_bookmark.jpg);
      .bookmarkContainer {
        width: 90%;
        margin: auto;
        position: relative;
        min-height: 100vh;
        h2 {
          color: $color12;
          background-color: $base;
          position: absolute;
          top: 1%;
          left: -6%;
          width: 70%;
          padding: 0.5em;
          font-size: 2.5em;
        }
        .bookmarkList {
          min-height: 100vh;
          width: 100%;
          padding-top: 10%;
          background-color: rgba(255, 255, 255, 0.613);
          .bookmarkItem {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            padding: 0.5em 0;
            width: 100%;
            margin: auto;
            .checkbox {
              display: table-cell;
              cursor: pointer;
              border-radius: 50vw;
              margin: auto;
            }
            label {
              display: none;
            }
            img {
              width: 50%;
              display: block;
              box-shadow: 1em 1em 0.5em $color8;
            }
            p {
              grid-column: span 3;
              margin-right: auto;
              font-size: 2em;
            }
          }
        }
        .delBtn {
          position: absolute;
          bottom: 0;
          right: 10%;
          margin: 1em auto;
          display: block;
          padding: 0.5em 2em;
          font-size: 1.3em;
          color: $color12;
          background-color: $base;
          box-shadow:  0 0.5em 1em $color8;
          &:active {
            box-shadow: none;
          }
        }
      }
    }
  }
  //footer
  .footer {
    text-align: center;
    padding: 0.5em 0;
    font-size: 1.3em;
    background-color: $base;
    color: $color12;
    .fa-chevron-circle-up {
      display: none;
      position: fixed;
      right: 5%;
      bottom: 10%;
      color: $color4;
      cursor: pointer;
      &:hover {
        color: $color14;
      }
    }
    h4 > a {
      color: $color4;
      &:hover {
        color: $color14;
      }
    }
  }
}
