/* Variables */
$textColor1: white;
$bgColor1: white;

$color1: #ebece5;
$color2: #abadaf;
$color3: #d76b34;
$color4: #b34140;
$color5: #d75a54;
$color6: #97342b;
$color7: #cc9456;

@mixin flex {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

@mixin animationFadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@mixin centering {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Global styling */
h1 {
  font-size: 3em;
  font-family: "Merriweather", serif;
}
h2 {
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}
button {
  border-radius: 50vw;
  border: none;
}
p {
  font-size: 1.5em;
}
.fa-heart {
  color: $color5;
}
a {
  text-decoration: none;
}
.alert {
  display: none;
  text-align: center;
  font-size: 1em;
  background-color: red;
  color: white;
  position: absolute;
  left: 8%;
  border-radius: 10vw;
  width: 80%;
}

/* Main Styling */
body {
  font-family: "PT Serif", serif;
  //loader
  .loader {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    background-color: linear-gradient();
    width: 100%;
    height: 100vh;
    z-index: 100;
    .spinner {
      position: absolute;
      @include centering;
      top: 40%;
      left: 47%;
      background-color: transparent;
      border: 0.3em solid transparent;
      border-top: 0.3em dotted #fca54f;
      border-right: 0.3em dotted#fbd86e;
      border-bottom: 0.3em dotted#dcfa79;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      animation: spin 2s linear infinite;
    }
    span {
      position: absolute;
      color: white;
      @include centering;
      top: 64%;
      left: 51%;
      font-size: 2em;
      letter-spacing: 0.1em;
      text-align: center;
      text-transform: uppercase;
    }
  }
  //header
  .header {
    text-align: center;
    background-image: url(../img/top.jpg);
    height: 100vh;
    overflow: hidden;
    h1 {
      text-transform: uppercase;
    }
    .bookmarkLink {
      position: absolute;
      top: 5%;
      right: 5%;
    }
    .searchForm {
      background-color: rgba(245, 245, 220, 0.572);
      margin: auto;
      width: 50%;
      height: 80%;
      position: absolute;
      @include centering;
      border-radius: 5%;
      .keywordSearch {
        position: relative;
        label {
          position: absolute;
          left: 0;
          top: 0;
          padding: 1em;
          display: block;
          text-align: left;
          width: 80%;
          margin: auto;
        }
        .keyword {
          border-radius: 50vw;
          border: none;
          padding: 1em;
          margin-top: 3em;
          width: 80%;
        }
        .search {
          position: sticky;
          right: 7%;
          top: 10%;
          border-radius: 50vw;
          border: none;
          text-transform: none;
          border-style: none;
          background-color: transparent;
        }
      }
    }
  }
  //main
  .main {
    //result
    .result {
      position: relative;
      min-height: 100vh;
      .resultPanel {
        //@include flex;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 1em;
        height: 75%;
        padding: 0.5em;
        background-color: bisque;
        .itemPanel {
          margin: auto;
          border-radius: 5%;
          border: 1em solid $bgColor1;
          background-color: $bgColor1;
          @include animationFadeIn;
          img {
            height: 25vh;
            width: 100%;
            object-fit: cover;
          }
        }
        p {
          margin: 0;
        }
      }
      .showMore {
        margin: 1em auto;
        display: block;
        padding: 0.5em 2em;
        font-size: 1.3em;
      }
    }
    //recipe
    .recipe {
      min-height: 100vh;
      .recipePanel {
        .dishInfo {
          @include flex;
          list-style: none;
          padding: 0;
          line-height: 100%;
          .title {
            text-align: center;
            padding-right: 5em;
            font-size: 2em;
          }
          li {
            margin: 0.5em 1em;
            i {
              padding-right: 0.5em;
            }
          }
          .likeBtn {
            padding: 0, 0.5em;
            i {
              padding-right: 0.5em;
            }
          }
        }
        .recipeInfo {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          img {
            display: block;
            margin: auto;
            width: 40vw;
            height: 60vh;
          }
        }
      }
      .timerBtn {
        margin: 1em auto;
        display: block;
        padding: 0.5em 2em;
        font-size: 1.3em;
      }
    }
    //bookmark list
    .bookmark {
      min-height: 100vh;
      .bookmarkList {
        .bookmarkItem {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          padding: 0.5em 0;
          width: 70%;
          margin: auto;
          .checkbox {
            display: table-cell;
            cursor: pointer;
            border-radius: 50vw;
            margin: auto;
          }
          img {
            width: 50%;
          }
          p {
            grid-column: span 2;
            padding-top: 2em;
          }
        }
      }
      .delBtn {
        margin: 1em auto;
        display: block;
        padding: 0.5em 2em;
        font-size: 1.3em;
      }
    }
  }
  //footer
  .footer {
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.3em;
    .fa-chevron-circle-up {
      display: none;
      position: fixed;
      right: 5%;
      bottom: 10%;
      cursor: pointer;
      &:hover {
        color: $color5;
      }
    }
  }
}
