/* Variables */
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0 0 1em #d75b54e4;
  }
  2% {
    opacity: 0.1;
    text-shadow: 0 0 1em #d75b54e4;
  }
  4% {
    opacity: 1;
    text-shadow: 0 0 1em #d75b54e4;
  }
  19% {
    opacity: 1;
    text-shadow: 0 0 1em #d75b54e4;
  }
  21% {
    opacity: 0.1;
    text-shadow: 0 0 1em #d75b54e4;
  }
  23% {
    opacity: 1;
    text-shadow: 0 0 1em #d75b54e4;
  }
  80% {
    opacity: 1;
    text-shadow: 0 0 1em #d75b54e4;
  }
  83% {
    opacity: 0.4;
    text-shadow: 0 0 1em #d75b54e4;
  }
  87% {
    opacity: 1;
    text-shadow: 0 0 1em #d75b54e4;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0 0 1em #d75b54e4;
  }
  2% {
    opacity: 0.1;
    text-shadow: 0 0 1em #d75b54e4;
  }
  4% {
    opacity: 1;
    text-shadow: 0 0 1em #d75b54e4;
  }
  19% {
    opacity: 1;
    text-shadow: 0 0 1em #d75b54e4;
  }
  21% {
    opacity: 0.1;
    text-shadow: 0 0 1em #d75b54e4;
  }
  23% {
    opacity: 1;
    text-shadow: 0 0 1em #d75b54e4;
  }
  80% {
    opacity: 1;
    text-shadow: 0 0 1em #d75b54e4;
  }
  83% {
    opacity: 0.4;
    text-shadow: 0 0 1em #d75b54e4;
  }
  87% {
    opacity: 1;
    text-shadow: 0 0 1em #d75b54e4;
  }
}

/* Global styling */
h1 {
  font-size: 3em;
  font-family: "Merriweather", serif;
  font-weight: bold;
}

h2 {
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}

button {
  border: none;
}

p {
  font-size: 1.5em;
}

.fa-heart {
  color: #ca4d4a;
  z-index: 100;
}

.fa-heart:hover {
  color: #497e9a;
}

a {
  text-decoration: none;
}

.alert {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 75%;
  text-align: center;
  font-size: 1em;
  background-color: #ca4d4a;
  color: #e1c736;
  border-radius: 10vw;
  width: 80%;
}

/* Main Styling */
body {
  font-family: "PT Serif", serif;
  /* header */
}

body .loader {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  background-color: linear-gradient();
  width: 100%;
  height: 100vh;
  z-index: 300;
}

body .loader .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 40%;
  left: 47%;
  background-color: transparent;
  border: 0.3em solid transparent;
  border-top: 0.3em dotted #ca4d4a;
  border-right: 0.3em dotted #ca4d4a;
  border-bottom: 0.3em dotted #ca4d4a;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2.5s linear infinite;
          animation: spin 2.5s linear infinite;
}

body .loader span {
  position: absolute;
  color: #f1f4f1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 64%;
  left: 51%;
  font-size: 2em;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
}

body .header {
  text-align: center;
  background-image: url(../img/top2.jpg);
  height: 100vh;
  overflow: hidden;
}

body .header h1 {
  text-transform: uppercase;
  color: #e1c736;
  text-shadow: 0 0 0.3em #f1f4f1;
  margin-left: auto;
  width: 50%;
  z-index: 200;
  top: 16%;
  position: relative;
  font-size: 5em;
}

body .header .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  z-index: 300;
  position: absolute;
  top: 5%;
  right: 0;
  width: 25%;
}

body .header .navBar .bookmarkLink {
  -webkit-animation: flicker 2s linear infinite;
          animation: flicker 2s linear infinite;
}

body .header .navBar .modeChange {
  width: 25%;
  margin-left: 2em;
}

body .header .navBar .modeChange .darkLight {
  display: none;
}

body .header .navBar .modeChange .darkLightLabel {
  border-radius: 50vw;
  background-color: #f1f4f1;
  width: 100%;
  height: 100%;
  height: 75%;
  display: block;
  margin-top: 0.3em;
}

body .header .navBar .modeChange .darkLightLabel .ball {
  position: relative;
  top: 12%;
  left: 7%;
  width: 45%;
  height: 80%;
  background-color: rgba(12, 39, 53, 0.9);
  border-radius: 50%;
  cursor: pointer;
}

body .header .navBar .modeChange .darkLightLabel .ball:hover {
  border: 0.2em solid #e1c736;
}

body .header .searchForm {
  background-color: rgba(12, 39, 53, 0.9);
  margin: auto;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 50%;
  z-index: 100;
}

body .header .searchForm .keywordSearch {
  position: relative;
  height: 100%;
}

body .header .searchForm .keywordSearch label {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 1em;
  display: block;
  text-align: left;
  width: 80%;
  margin: auto;
  color: #e1c736;
  font-size: 2em;
}

body .header .searchForm .keywordSearch .keyword {
  border-radius: 50vw;
  border: none;
  padding: 1em;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 70%;
  position: absolute;
  width: 80%;
  -webkit-box-shadow: 0 0 1.2em #04080c;
          box-shadow: 0 0 1.2em #04080c;
  font-size: 1.3em;
}

body .header .searchForm .keywordSearch .search {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 70%;
  left: 83%;
  border-radius: 50vw;
  border: none;
  text-transform: none;
  border-style: none;
  background-color: transparent;
}

body .header .searchForm .keywordSearch .search .fa-search {
  color: #e1c736;
  font-size: 1.5em;
}

body .main .result {
  display: none;
  position: relative;
  min-height: 100vh;
  background-image: url(../img/bg7.jpg);
  background-size: cover;
}

body .main .result h2 {
  position: absolute;
  top: 1%;
  left: -6%;
  color: #e1c736;
  background-color: rgba(12, 39, 53, 0.9);
  width: 70%;
  padding: 0.5em;
  font-size: 2.5em;
}

body .main .result .resultPanel {
  background-color: #f1f1f490;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 4em;
  height: 75%;
  padding: 0.5em;
  padding-top: 13%;
  padding-left: 5%;
  padding-right: 5%;
}

body .main .result .resultPanel .itemPanel {
  min-height: 50vh;
  -webkit-box-shadow: 0.5em 0.5em 1em #04080c;
          box-shadow: 0.5em 0.5em 1em #04080c;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body .main .result .resultPanel .itemPanel img {
  height: 35vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .main .result .resultPanel p {
  margin-bottom: 0;
  margin: auto;
  padding: 1em;
  color: #97342b;
  font-size: 1.5em;
  font-weight: bold;
  width: 90%;
}

body .main .result .resultPanel .view {
  display: block;
  width: 50%;
  margin: auto;
  margin-bottom: 1.2em;
  background-color: #e1c736;
  text-decoration: none;
  color: rgba(12, 39, 53, 0.9);
  font-size: 1.2em;
  -webkit-box-shadow: 0 0 1.2em #04080c;
          box-shadow: 0 0 1.2em #04080c;
}

body .main .result .resultPanel .view:hover {
  background-color: #ca4d4a;
  color: #f1f4f1;
}

body .main .result .showMoreContainer {
  position: relative;
  height: 100%;
  padding: 1em 0;
}

body .main .result .showMoreContainer .alert {
  top: 20%;
}

body .main .result .showMoreContainer .showMore {
  margin: 1em auto;
  display: block;
  padding: 0.5em 2em;
  font-size: 1.3em;
  color: #e1c736;
  background-color: rgba(12, 39, 53, 0.9);
  -webkit-box-shadow: 0 0 1em #04080c;
          box-shadow: 0 0 1em #04080c;
}

body .main .recipe {
  display: none;
  min-height: 100vh;
  position: relative;
  background-image: url(../img/bg7_.jpg);
  color: #04080c;
}

body .main .recipe .recipePanel {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  height: 100%;
  width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body .main .recipe .recipePanel img {
  margin: auto 3em;
  margin-top: 3em;
  display: block;
  width: 35%;
  height: 70%;
  -webkit-box-shadow: 0.5em 0.5em 1em #04080c;
          box-shadow: 0.5em 0.5em 1em #04080c;
}

body .main .recipe .recipePanel .detailInfo {
  margin-left: auto;
  width: 60%;
  height: 100%;
}

body .main .recipe .recipePanel .detailInfo .title {
  position: relative;
  width: 130%;
  left: -30%;
  margin-top: 1em;
  background-color: rgba(12, 39, 53, 0.9);
  padding: 0.5em;
  text-align: left;
  font-size: 2.5em;
  color: #e1c736;
}

body .main .recipe .recipePanel .detailInfo .dishInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.3em;
}

body .main .recipe .recipePanel .detailInfo .dishInfo li {
  margin: 0.5em 1em;
  color: #d76b34;
  font-weight: bold;
}

body .main .recipe .recipePanel .detailInfo .dishInfo li i {
  padding-right: 0.5em;
  color: #497e9a;
}

body .main .recipe .recipePanel .detailInfo .dishInfo .likeBtn {
  padding: 0, 0.5em;
  background-color: transparent;
  color: #d76b34;
  font-weight: bold;
}

body .main .recipe .recipePanel .detailInfo .dishInfo .likeBtn:hover {
  -webkit-animation: scaleup 0.5s;
          animation: scaleup 0.5s;
}

@-webkit-keyframes scaleup {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes scaleup {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

body .main .recipe .recipePanel .detailInfo .dishInfo .likeBtn i {
  padding-right: 0.5em;
}

body .main .recipe .recipePanel .detailInfo .recipeInfo {
  width: 100%;
  text-align: left;
  padding-right: 2em;
}

body .main .recipe .recipePanel .detailInfo .recipeInfo p {
  font-weight: bold;
  margin: 0;
}

body .main .recipe .recipePanel .detailInfo .recipeInfo p .fa-pepper-hot {
  padding-right: 0.5em;
  color: #497e9a;
}

body .main .recipe .recipePanel .detailInfo .recipeInfo ul {
  padding-bottom: 1em;
  margin: 0;
}

body .main .recipe .recipePanel .detailInfo a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  background-color: rgba(12, 39, 53, 0.9);
  -webkit-box-shadow: 0 0 1.2em #04080c;
          box-shadow: 0 0 1.2em #04080c;
  padding: 0.5em 2em;
  font-size: 1.3em;
  margin-top: 1em;
  margin-bottom: 1.8em;
  color: #e1c736;
}

body .main .recipe .timerBtn {
  position: absolute;
  bottom: 2%;
  left: 13%;
  margin: 1em auto;
  display: block;
  padding: 0.5em 2em;
  font-size: 1.3em;
  color: #e1c736;
  background-color: rgba(12, 39, 53, 0.9);
  -webkit-box-shadow: 0 0 1.2em #04080c;
          box-shadow: 0 0 1.2em #04080c;
}

body .main .bookmark {
  position: relative;
  min-height: 100vh;
  color: #04080c;
  background-image: url(../img/bg6.jpg);
}

body .main .bookmark .bookmarkContainer {
  width: 90%;
  margin: auto;
  position: relative;
  min-height: 100vh;
}

body .main .bookmark .bookmarkContainer h2 {
  color: #e1c736;
  background-color: rgba(12, 39, 53, 0.9);
  position: absolute;
  top: 1%;
  left: -6%;
  width: 70%;
  padding: 0.5em;
  font-size: 2.5em;
}

body .main .bookmark .bookmarkContainer .bookmarkList {
  min-height: 100vh;
  width: 100%;
  padding-top: 10%;
  background-color: rgba(255, 255, 255, 0.613);
}

body .main .bookmark .bookmarkContainer .bookmarkList .bookmarkItem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  padding: 0.5em 0;
  width: 100%;
  margin: auto;
}

body .main .bookmark .bookmarkContainer .bookmarkList .bookmarkItem .checkbox {
  display: table-cell;
  cursor: pointer;
  border-radius: 50vw;
  margin: auto;
}

body .main .bookmark .bookmarkContainer .bookmarkList .bookmarkItem label {
  display: none;
}

body .main .bookmark .bookmarkContainer .bookmarkList .bookmarkItem img {
  width: 50%;
  display: block;
  -webkit-box-shadow: 0 0 1.2em #04080c;
          box-shadow: 0 0 1.2em #04080c;
}

body .main .bookmark .bookmarkContainer .bookmarkList .bookmarkItem p {
  grid-column: span 3;
  margin-right: auto;
  font-size: 2em;
}

body .main .bookmark .bookmarkContainer .delBtn {
  position: absolute;
  bottom: 0;
  right: 10%;
  margin: 1em auto;
  display: block;
  padding: 0.5em 2em;
  font-size: 1.3em;
  color: #e1c736;
  background-color: rgba(12, 39, 53, 0.9);
  -webkit-box-shadow: 0 0 1.2em #04080c;
          box-shadow: 0 0 1.2em #04080c;
}

body .footer {
  text-align: center;
  padding: 0.5em 0;
  font-size: 1.3em;
  background-color: rgba(12, 39, 53, 0.9);
  color: #e1c736;
}

body .footer .fa-chevron-circle-up {
  display: none;
  position: fixed;
  right: 5%;
  bottom: 10%;
  color: #ca4d4a;
  cursor: pointer;
}

body .footer .fa-chevron-circle-up:hover {
  color: #497e9a;
}

body .footer h4 > a {
  color: #ca4d4a;
}

body .footer h4 > a:hover {
  color: #497e9a;
}
/*# sourceMappingURL=style.css.map */