body {
  background-image: url(../../img/timerbg.jpg);
  background-size: cover;
  font-family: "PT Serif", serif;
  .timer {
    font-size: 5em;
    text-align: center;
  }
  .timerBtn {
    display: flex;
    justify-content: center;
    .startBtn,
    .stopBtn,
    .resetBtn {
      border: none;
      box-shadow: 0 0.3em 0.5em rgb(114, 113, 113);
      background: linear-gradient(#c2d67f, #dd7fc7);
      font-size: 1.2em;
      padding: 0.3em 2em;
      margin: 0 1em;
      &:active {
        box-shadow: none;
      }
    }
  }
}
